.logo-img{
    max-height: 80px;
}
/* .scrolling-content {
    height: 200px; 
    overflow: hidden;
    position: relative;
    background: rgba(255, 255, 255, 0.1); 
    color: #ffffff; 
    padding: 20px;
    border-radius: 15px; 
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(5px); 
}

.scrolling-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    flex-grow: 1;
    animation: scroll-up 15s linear infinite;
    margin-bottom: 30px;
}

.scrolling-content ul li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}

.scrolling-content .read-more {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #ffdd57; 
    text-decoration: none;
}

.scrolling-content .read-more:hover {
    color: #ffc107; 
}

.scrolling-content:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}

@keyframes scroll-up {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
} */

.scrolling-content {
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
    position: relative;
    /* background: rgba(255, 255, 255, 0.1); Light transparency for the glass effect */
    color: #ffffff; /* White text for contrast */
    padding: 20px;
    border-radius: 15px; /* Rounded corners for a smooth appearance */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.scrolling-content:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}
.scrolling-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    flex-grow: 1;
    animation: scroll-up 15s linear infinite;
    margin-bottom: 30px;
}

.scrolling-content ul li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Light separator with transparency */
}

.scrolling-content .read-more {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #ffdd57; /* Highlight the link with a contrasting color */
    text-decoration: none;
}

.scrolling-content .read-more:hover {
    color: #ffc107; /* Change link color on hover */
}

@keyframes scroll-up {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}
